@import '../../../../styles/variables';

.loader {
  align-items: center;
  background-color: transparentize($color-black, .5);
  display: none;
  inset: 0;
  justify-content: center;
  position: fixed;
  z-index: 10;

  &.active {
    display: flex;
  }

  .spinner-border {
    height: 3rem;
    width: 3rem;
  }
}
