<section class="content-page data-page">
  <div class="content">

      <h1 class="page-title" i18n>Datos</h1>

      <div class="page-text">
          
          <p i18n><strong>BusesUY cuenta con datos de las siguientes zonas:</strong></p>
          
          <div class="table-responsive">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" i18n>Zona</th>
                  <th scope="col" i18n>Estado</th>
                  <th scope="col" i18n>Fuente</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let line of data">
                  <td>{{line.label}}</td>
                  <td>
                    <i class="{{statuses[line.status].icon}}"></i>
                    {{statuses[line.status].label}}                    
                  </td>
                  <td>{{line.source}}</td>
                </tr>
              </tbody>
            </table>

          </div>
      
        </div>

  </div>
</section>

