
<div class="lines-info-modal">

  <div class="left-column">

    <h3 class="title"><i class="fa-solid fa-bus"></i> <p>Información de Omnibús</p></h3>

    <ul>
      <li><strong>Número de línea:</strong> {{ data.line.name }}</li>
      <li><strong i18n>Empresa:</strong> <button (click)="showCompanyInfoModal(data.company.id)">{{ data.company.name }} <i class="fa-solid fa-arrow-right"></i></button></li>
      <li><strong i18n>Origen:</strong><app-location-name [location]="data.origin"></app-location-name></li>
      <li><strong i18n>Destino:</strong><app-location-name [location]="data.destination"></app-location-name></li>
      <li><strong i18n>Hora salida:</strong> {{ data.line.startTime }} h</li>
      <li><strong i18n>Hora llegada:</strong> {{ data.line.endTime }} h</li>
      <li><strong i18n>Ruta:</strong> {{ data.line.route }}</li>
      <li><strong i18n>Frecuencia:</strong><app-frequency [frequency]="data.line.frequency"></app-frequency></li>
    </ul>

  </div>


  <div class="right-column">

    <h3 class="title"><i class="fa-solid fa-stopwatch"></i> <p>Paradas</p></h3>

    <div class="stops-table">
      <div class="stops-table-head">
        <p i18n><strong>Localidad</strong></p>
        <p i18n><strong>Hora</strong></p>
      </div>

      <div *ngFor="let stop of data.stops" class="stops-table-content">
        <p><app-location-name [location]="stop.location"></app-location-name></p>
        <p>{{ stop.time }} h</p>
      </div>
    </div>

  </div>

</div>
