<div class="bg-light h-100">
  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row w-100">
      <div class="col-md-8 offset-2">
        <h1 class="display-1">
          Contacto
        </h1>
      </div>
      <div class="col-md-8 offset-2">
        <p class="lead">
          Próximamente
        </p>
        <!-- <form [formGroup]="form" novalidate (submit)="submit()">
          <div class="row g-3 mb-3">
            <div class="col">
              <label for="name" class="form-label">
                Nombre
              </label>
              <input type="name" formControlName="name" class="form-control" id="name">
            </div>
            <div class="col">
              <label for="email" class="form-label">
                Correo electrónico
              </label>
              <input type="email" formControlName="email" class="form-control" id="email" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">
              Mensaje
            </label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <div class="col-md-4 offset-md-4">
            <button class="btn btn-primary w-100" type="submit">
              Enviar
            </button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>
