accordion-group {
  &.panel-open,
  &.panel-opening {
    & > .panel {
      & > .panel-heading {
        &.card-header {
          border-bottom: 1px solid transparentize($color-black, .875);
        }

        .panel-chevron {
          transform: rotate(180deg);
        }
      }
    }
  }

  .panel-heading {
    &.card-header {
      background-color: transparent;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .panel-chevron {
    transition: transform .2s ease-in-out;
  }

  &:not(:last-child) {
    & > .panel {
      &.card {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &:not(:first-child) {
    & > .panel {
      &.card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
