/*Color Palette*/
/*
Midnight Blue ---  #145DA0
Dark BLue     ---  #0C2D48
Blue          ---  #2E8BC0
Baby Blue     ---  #B1D4E0
*/

body{ font-family: "Nunito", sans-serif; font-size: 17px; color: #000; }
strong{ font-weight: bold; }

h1, h2, h3, h4, h5, h6{ font-family: "Poppins", sans-serif; }

a{ color: #145DA0; text-decoration: none; }
a:hover{ text-decoration: underline; }

/*Generics*/
.content{ width: 100%; max-width: 1160px; margin: 0 auto; position: relative; }
.title-icon i{ margin-right: 10px; }

/*Angular*/
#main{ height: auto; display: block !important; position: relative; z-index: 50; }

/*Inputs*/
input,
select,
textarea{ font-family: "Nunito", sans-serif; padding: 10px; width: 100%; border: none; border-radius: 5px; resize: none; font-size: 1em; line-height: 1.3; background: #f1f2f6; border: 1px solid transparent; transition: all .3s; }

input:focus,
select:focus,
textarea:focus{ border: 1px solid #a1a9c3; }

input:hover,
select:hover,
textarea:hover{ border: 1px solid #a1a9c3; }

/*Buttons*/
button{ display: inline-block; padding: 10px; border: noen; background: none; font-family: "Nunito", sans-serif; cursor: pointer; font-size: 1em; transition: all .3s; line-height: 1.3; }

.btn{ background: #145DA0; border: 2px solid #145DA0; color: #FFF; transition: all .3s; line-height: 1.3; text-decoration: none; border-radius: 30px; font-size: 1em; padding: 10px 30px; display: inline-block; }
.btn:hover{ background: transparent; color: #145DA0; text-decoration: none; }

/*Dropdown Menu*/
.dropdown-menu{ overflow-y: auto; overflow-x: hidden; position: absolute; width: 100%; top: 0; left: 0; background: #FFF; max-height: 0; opacity: 0; visibility: hidden; box-shadow: 0 0 6px rgba(0,0,0,0.2); border-radius: 10px; padding: 10px 5px; top: 80px; }
.dropdown-menu.show{ visibility: visible; opacity: 1; max-height: 200px; }
.dropdown-menu li{ padding: 0; text-align: left; background: transparent; border-radius: 5px; display: block; width: 100%; font-size: .9em; margin-bottom: 2px; transform: all .3s; }
.dropdown-menu li.active{ background: #EEE; }
.dropdown-menu li b{ font-weight: bold; }
.dropdown-menu li:hover{ background: #EEE; }
.dropdown-menu li button{ border: none; padding: 0; text-align: left; display: block; width: 100%; padding: 8px 10px; }

.dropdown-menu::-webkit-scrollbar{ width: 4px; height: 4px; }
.dropdown-menu::-webkit-scrollbar-track{ background-color: transparent; }
.dropdown-menu::-webkit-scrollbar-thumb{ background-color: #CCC; border: none; border-radius: 5px; }
.dropdown-menu::-webkit-scrollbar-thumb:hover{ background-color: #CCC; }

/*Day Dropdown Menu*/
.dropdown{ overflow-y: auto; overflow-x: hidden; position: absolute; width: 100%; top: 0; left: 0; background: #FFF; max-height: 0; opacity: 0; visibility: hidden; box-shadow: 0 0 6px rgba(0,0,0,0.2); border-radius: 10px; padding: 10px 5px; top: 80px; transition: opacity .3s; }
.dropdown.show{ visibility: visible; opacity: 1; max-height: 200px; }

/*Button Group*/
.button-group{ width: 100%; white-space: nowrap; overflow: hidden; background: #f1f2f6; border-radius: 5px; border: 1px solid transparent; transition: all .3s; }
.button-group:hover{ border: 1px solid #a1a9c3; }
.button-group button{ border: none; border: none; border-radius: 5px; width: 100%; text-align: left; }
.button-group ul li span{ cursor: pointer; display: block; width: 100%; padding: 0; line-height: 1.3; }
.button-group ul li.bg-light{ background: #EEE; }

/*Alert*/
.alert{ display: flex; align-items: center; width: 100%; background: #EEE; padding: 20px 20px 25px; border-radius: 10px; z-index: 100; position: relative; line-height: 1.3; box-shadow: 0 0 6px rgba(0,0,0,0.2); margin-bottom: 20px; }
.alert i{ font-size: 2em; margin-right: 20px; margin-left: 10px; }

.alert .close{ border: none; font-size: 1.2em; color: #999; position: absolute; top: 50%; right: 40px; margin-top: -9px; }
.alert .close:before{ content: "\f00d"; font-family: "Font Awesome 6 Free"; font-weight: 900; display: block; width: 10px; height: 10px; font-size: 1em; color: #AAA; position: absolute; top: 50%; margin-top: -15px; left: 25px; transition: all .3s; }
.alert .close:hover:before{ color: #000; }
.alert .close span{ display: none; }

    /*Warning*/
    .alert-warning{  background: #FFF5F5; }
    .alert-warning i{ color: #F98A89; }

/*Invalid Feedback*/
.invalid-feedback{ color: #F00; font-size: .8em; display: block; margin-top: 10px; opacity: 0; visibility: hidden; max-height: 0; }

/*Accordion*/
.accordion .accordion-content{ visibility: hidden; opacity: 0; max-height: 0; transition: all .3s; overflow: hidden; }
.accordion.open > .accordion-header + .accordion-content{ visibility: visible; opacity: 1; max-height: 10000px; overflow: visible; }

.accordion.open > .accordion-header .path-card .collapse-arrow{ transform: rotate(180deg); }

.accordion .accordion{ padding-left: 20px; }
.accordion .accordion .accordion-content{ padding-left: 20px; }

/*Modals*/
.modal{ position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.6); z-index: 99999; opacity: 0; visibility: hidden; transition: all .3s; }
.modal.show{ opacity: 1; visibility: visible; }
.modal-content{ background: #FFF; position: absolute; width: 90%; max-width: 1024px; height: auto; max-height: 90%; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); border-radius: 10px; box-shadow: 0 0 6px rgba(0,0,0,0.2); padding: 30px; overflow-y: auto; }
.modal-close{ position: absolute; right: 15px; top: 15px; font-size: 1.6em; border: none; padding: 0; width: 40px; height: 40px; text-align: center; list-style: 40px; }

.modal .modal-content::-webkit-scrollbar{ width: 4px; height: 4px; }
.modal .modal-content::-webkit-scrollbar-track{ background-color: transparent; }
.modal .modal-content::-webkit-scrollbar-thumb{ background-color: #CCC; border: none; border-radius: 5px; }
.modal .modal-content::-webkit-scrollbar-thumb:hover{ background-color: #CCC; }

/*Table*/
.table{ width: 100%; }

.table tr td,
.table tr th{ padding: 10px; text-align: left; border-bottom: 1px solid #CCC; }
.table tr th{ font-weight: bold; font-family: "Poppins"; }

.table tr td:first-child,
.table tr th:first-child{ padding-left: 0; }

.table tr td:last-child,
.table tr th:last-child{ padding-right: 0; text-align: right; }

.table tr td i{ margin-right: 10px; font-size: 1.2em; }

/*Lines Info Modal*/
.lines-info-modal{ display: flex; width: 100%; flex-direction: column; }

.lines-info-modal .location-name{}
.lines-info-modal .location-department{ font-size: .8em; color: #444; }

.lines-info-modal .line-info-section{ margin-bottom: 40px; }
.lines-info-modal .line-info-section li{ margin-bottom: 5px; }

.lines-info-modal .stops-table .stops-table-head{ display: flex; width: 100%; justify-content: space-between; border-bottom: 1px solid #CCC; padding-bottom: 5px; margin-bottom: 5px; }
.lines-info-modal .stops-table .stops-table-content{ display: flex; width: 100%; justify-content: space-between; border-bottom: 1px solid #CCC; padding-bottom: 5px; margin-bottom: 5px; }

.lines-info-modal .stops-table .stops-table-head p,
.lines-info-modal .stops-table .stops-table-content p{ line-height: 1.4; }

.lines-info-modal .stops-table .stops-table-head p + p,
.lines-info-modal .stops-table .stops-table-content p + p{ text-align: right;}

.lines-info-modal button{ border: none; padding: 0; margin-left: 5px; font-weight: 600; }

.lines-info-modal .title{ font-size: 1.4em; display: flex; font-weight: 600; margin-bottom: 20px; }
.lines-info-modal .title i{ font-size: 1em; margin-right: 10px; position: relative; top: 2px; }


/*Guides*/
.guides-box{ background: #145DA0; padding: 80px 0 70px; color: #FFF; }
.guides-box ul{ display: flex; margin-top: 20px; }
.guides-box ul li{ width: 33.3333%; padding: 30px; text-align: center; }
.guides-box ul li figure{ width: 250px; margin: 0 auto; }
.guides-box ul li figure img{}
.guides-box ul li h4{ font-size: 1.8em; font-weight: 500; letter-spacing: -1px; margin-bottom: 20px; }
.guides-box ul li p{ line-height: 1.4; opacity: .7; }

.guides-box .header{ text-align: center; }
.guides-box .header h2{ font-size: 3em; font-weight: 600; letter-spacing: -1px; margin-bottom: 10px; }
.guides-box .header p{ margin: 0 auto; line-height: 1.5; opacity: .7; }
