/*Main Header*/
.main-header{ position: relative; width: 100%; height: 70px; background: #FFF; z-index: 9999; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.main-header .content{ display: flex; justify-content: space-between; }

.main-header .main-nav{ display: flex; }
.main-header .main-nav figure{ width: 200px; min-width: 200px; position: relative; top: 9px; }
.main-header .main-nav ul{ margin-left: 50px; }
.main-header .main-nav ul li{ display: inline-block; margin: 0 15px; }
.main-header .main-nav ul li a{ text-decoration: none; font-weight: 600; color: #000; display: block; padding: 0; line-height: 69px; font-family: "Poppins"; transition: all .3s; font-size: .9em; position: relative; }
.main-header .main-nav ul li a:hover,
.main-header .main-nav ul li a.active{ color: #145da0; }

.main-header .main-nav ul li a:after{ content: ""; width: 0; height: 2px; display: block; background: #145da0; transition: all .3s; position: absolute; bottom: -1px; left: 0; }
.main-header .main-nav ul li a:hover:after{ content: ""; width: 100%; height: 4px; display: block; background: #145da0; }
.main-header .main-nav ul li a.active:after{ content: ""; width: 100%; height: 4px; display: block; background: #145da0; }

.main-header .right-options{ display: flex; }
.main-header .right-options .share-button{ border: none; font-size: 1.5em; }
.main-header .right-options .language-button{ border: none; }

.main-header .right-options .dropdown{ width: 145px; left: auto; right: 0; padding: 9px 16px 10px; }
.main-header .right-options .dropdown li{ margin-bottom: 5px; }
.main-header .right-options .dropdown li a{ text-decoration: none; color: #000; font-weight: 500; font-size: .9em; }
.main-header .right-options .dropdown li a:hover{ font-weight: bold; }
.main-header .right-options .dropdown li a figure{ border-radius: 4px; overflow: hidden; display: inline-block; position: relative; top: 7px; margin-right: 5px; }
.main-header .right-options .dropdown li a figure img{ width: 100%; }
