/*Hero*/
.home-content .hero{ padding-top: 120px; background: #f1f2f6; padding-bottom: 20px; }
.home-content .hero .hero-bg{ background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 520px; position: absolute; top: 0; }

/*Search Form*/
.home-content .search-form{ position: relative; z-index: 5000; background: #FFF; padding: 30px; box-shadow: 0 0 6px rgba(0,0,0,0.2); margin-bottom: 30px; border-radius: 10px; margin-top: 300px; }
.home-content .search-form h1{ font-weight: 600; font-size: 1.5em; margin-bottom: 30px; }
.home-content .search-form form{ display: flex; align-items: flex-start; justify-content: space-between; }
.home-content .search-form form label{ font-weight: bold; margin-bottom: 10px; display: block; }
.home-content .search-form form .origin-box{ position: relative; min-width: 28%; max-width: 28%; }
.home-content .search-form form .destiny-box{ position: relative; min-width: 28%; max-width: 28%; }
.home-content .search-form form .day-box{ position: relative; min-width: 28%; max-width: 28%; margin: 0 20px; }
.home-content .search-form .swap-locations{ border: none; padding: 0 20px; position: relative; top: 40px; }
.home-content .search-form .swap-locations i{ transition: all 0.6s; font-size: 1.2em; }

.home-content .search-form .search-button{ border-radius: 55px; border: none; background: #145da0; border: 2px solid #145da0; padding: 10px 30px; font-weight: bold; font-size: 1.1em; position: relative; top: 24px; color: #FFF; }
.home-content .search-form .search-button:hover{ background: transparent; color: #145da0; border-color: #145da0; }

/*Search Alert*/
.home-content alert{ margin-bottom: 20px; display: block; }

/*Camera Button*/
.camera-button{ border: none; border-radius: 100%; color: #FFF; background: rgba(0,0,0,0.6); width: 40px; height: 40px; position: absolute; top: -100px; right: 20px; }
.camera-button:hover{ background: #000; }

/*Results Wrapper*/
.search-results-wrapper{ padding: 60px 0; }

/*Lines*/
.home-content .lines-results{ position: relative; z-index: 100; background: transparent; margin-bottom: 30px; }
.home-content .lines-results h2{ font-weight: 600; font-size: 1.7em; margin-bottom: 30px; }

/*Transboard*/
.home-content .transboard-results{ position: relative; z-index: 100; background: transparent; margin-bottom: 30px; }
.home-content .transboard-results h2{ font-weight: bold; font-size: 1.6em; margin-bottom: 20px; }
.home-content .transboard-results .table-responsive .bus-info{ width: 100%; }

/*Bus Cards*/
.path-card{ width: 100%; box-shadow: 0 0 6px rgba(0,0,0,0.2); margin-bottom: 20px; border-radius: 10px; background: #FFF; border: none; padding: 20px; position: relative; }
.path-card .collapse-arrow{ position: absolute; right: 20px; top: 20px; font-size: 1em; transition: all .3s; }
.path-card .pather{ display: flex; justify-content: space-between; flex-direction: column; position: relative; text-align: left; }
.path-card .pather .path-dot{ position: relative; padding-left: 25px; margin-bottom: 10px; }
.path-card .pather .path-dot:before{ content: ""; display: block; border-radius: 100%; width: 13px; height: 13px; border: 2px solid #000; position: absolute; left: 0; top: 3px; background: #FFF; z-index: 10; }
.path-card .pather:before{ content: ""; display: block; position: absolute; width: 2px; height: calc(100% - 10px); background: #000; top: 3px; left: 5px; }
.path-card .pather .path-dot:last-child{ margin-bottom: 0; }

.path-card .pather .path-dot .location{}
.path-card .pather .path-dot .location .location-name{}
.path-card .pather .path-dot .location .location-department{ font-size: .8em; font-weight: 600; color: #666; }

.path-card.expanded-card{ border-left: 10px solid #F2BD2A; width: 100% }

/*Table Responsive*/
.table-responsive ul{ display: flex; flex-wrap: wrap; justify-content: space-between; }
.table-responsive ul li{ width: calc(50% - 10px); transition: all .3s; }
.table-responsive .bus-info{ box-shadow: 0 0 6px rgba(0,0,0,0.2); margin-bottom: 20px; border-radius: 10px; background: #FFF; padding: 20px; position: relative; border-left: 10px solid #000; }
.table-responsive .bus-info .company-name{ color: #000; text-decoration: none; margin-bottom: 15px; display: block; font-size: 1.2em; font-family: "Poppins"; font-weight: 600; }
.table-responsive .bus-info .bus-info-times p{ margin-bottom: 5px; font-size: .9em; }
.table-responsive .bus-info .more-info{ color: #000; text-decoration: none; display: inline-block; font-weight: 600; position: absolute; right: 10px; top: 10px; font-size: 1.4em; width: 40px; height: 40px; transition: all .3s; border: none; padding: 0; }
.table-responsive .bus-info .more-info i{ position: relative; top: 0; left: 1px; font-size: .9em; }
.table-responsive .bus-info .more-info:hover{ background: transparent; color: #000; border-color: #000; }

.table-responsive .bus-info .time{ display: flex; margin-bottom: 5px; }
.table-responsive .bus-info .time .value{ font-size: 1.4em; font-weight: 600; font-family: "Poppins"; }
.table-responsive .bus-info .time .value small{ font-size: .6em; font-weight: 600; }
.table-responsive .bus-info .time .small{ display: block; font-size: .85em; color: #666; margin-top: 2px; font-weight: 700; }

.table-responsive .bus-info .time .duration{ position: relative; width: 120px; display: flex; align-items: center; justify-content: center; top: -7px; font-size: .9em; }
.table-responsive .bus-info .time .duration:before{ content: ""; display: block; width: 90px; height: 1px; background: #CCC; position: absolute; top: 16px; }
.table-responsive .bus-info .time .duration span{ background: #FFF; padding: 0 5px; position: relative; z-index: 10; display: inline-block; }

.table-responsive .bus-info .frequency{ display: flex; margin-top: 10px; }
.table-responsive .bus-info .frequency .frequency-day{ display: flex; width: 25px; height: 25px; align-items: center; justify-content: center; background: #EEE; border-radius: 100%; font-size: .8em; margin-right: 8px; font-weight: 600; }

/*No Results*/
.no-results{ background: #FFF; padding: 20px; width: 100%; box-shadow: 0 0 6px rgba(0,0,0,0.2); display: flex; border-radius: 10px; align-items: center; }
.no-results i{ margin-right: 15px; font-size: 1.4em; }
.no-results p{ font-weight: bold; }

/*Background Info*/
.popover{ background: #FFF; padding: 20px; box-shadow: 0 0 6px rgba(0,0,0,0.2); border-radius: 10px; display: inline-block; position: absolute; opacity: 0; visibility: hidden; overflow: hidden; max-height: 0; max-width: 0; transition: opacity .3s; top: -100px; right: 70px; z-index: 99999; }
.popover.show{ opacity: 1; visibility: visible; overflow: visible; max-width: 500px; max-height: 500px; }
.popover li{ margin-bottom: 10px; }
.popover .popover-title{ font-weight: bold; margin-bottom: 20px; }
.popover .btn{ padding: 5px 20px; font-weight: bold; margin-right: 10px; }
.popover .close-popover{ position: absolute; top: 15px; right: 15px; cursor: pointer; }

/*Covid Message*/
.covid-message .alert{ background-image: url("../assets/imgs/covid.svg"); background-repeat: no-repeat; background-position: right -110px top -240px; background-size: 1120px; background-blend-mode: color-burn; font-weight: bold; }

@keyframes covid {
0%    { background-position: right -110px top -240px; }
25%   { background-position: right -110px top -140px; }
50%   { background-position: right -110px top -240px; }
75%  { background-position: right -110px top -140px; }
100%  { background-position: right -110px top -240px; }
}

.covid-message .alert {
    animation: covid 150s infinite linear;
}
