/*Lines Brands*/

/*COT*/
.cot{ border-color: #91410C !important; }

/*COPSA*/
.copsa{ border-color: #001163 !important; }

/*Rutas del Sol*/
.rutas-del-sol{ border-color: #06376C !important; }

/*Nossar*/
.nossar{ border-color: #006E55 !important; }

/*Chadre*/
.chadre{ border-color: #FF1C25 !important; }

/*CITA*/
.cita{ border-color: #F2C230 !important; }

/*El Norteño*/
.el-norteño{ border-color: #AE5602 !important; }

/*COTABU*/
.cotabu{ border-color: #2F3C53 !important; }

/*Turil*/
.turil{ border-color: #0692DB !important; }

/*Agencia Central*/
.agencia-central{ border-color: #1D965D !important; }

/*Turismar*/
.turismar{ border-color: #1F2F63 !important; }

/*Bruno*/
.bruno{ border-color: #6A6A87 !important; }

/*Sabelin*/
.sabelin{ border-color: #0B4264 !important; }

/*Cynsa*/
.cynsa{ border-color: #D63010 !important; }

/*CUT*/
.cut{ border-color: #D2D5D6 !important; }

/*Nuñez*/
.empresa-núñez{ border-color: #009201 !important; }

/*Cotmi*/
.cotmi-{ border-color: #E43422 !important; }

/*Cotmi*/
.copay{ border-color: #ED1B24 !important; }

/*Expreso Chago*/
.expreso-chago{ border-color: #00953E !important; }

/*EMDAL*/
.emdal{ border-color: #00953E !important; }