/*Lines Brands*/

/*COT*/
.cot{ border-color: #91410C !important; }
.cot .bus-icon{ color: #91410C !important; }

/*Rutas del Sol*/
.rutas-del-sol{ border-color: #06376C !important; }
.rutas-del-sol .bus-icon{ color: #06376C !important; }