.loader{ position: fixed; background: rgba(0,0,0,0.4); top: 0; left: 0; z-index: 99999; width: 100vw; height: 100vh; transition: all .3s; display: none; align-items: center; justify-content: center; text-align: center   ; }
.loader.active{ display: flex}
.loader span{ display: inline-block; }
