/*General Content Pages*/
.content-page{ padding-top: 120px; max-width: 900px; margin: 0 auto; }
.content-page .page-title{ font-size: 2.2em; font-weight: 700; letter-spacing: -1px; margin-bottom: 30px; }
.content-page .page-text{ line-height: 1.4; margin-bottom: 100px; }
.content-page .page-text p{ margin-bottom: 20px; }

/*About Us Page*/
.about-us-page{}

/*Data Page*/
.data-page .table{ margin-top: 30px; }