@media screen and (max-width: 1280px){

    .content{ padding: 0 20px; }

}

@media screen and (max-width: 1024px){

    .table-responsive ul li{ width: 100%; }
    .table-responsive .bus-info{ margin-bottom: 10px; }

}