<div class="bg-light h-100 py-4">
  <div class="container d-flex align-items-start justify-content-center h-100">
    <div class="row">
      <div class="col-12">
        <h1 class="display-1 mb-4" i18n>
          Línea {{line.name}}
        </h1>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h5">
              <b i18n>Número de línea:</b> {{ line.name }}
            </h2>
            <h3 class="card-subtitle mb-2 text-muted h6">
              <b i18n>Empresa:</b>&nbsp;
              <a [routerLink]="['/empresas', line.company.name]">{{ line.company.name }}</a>
            </h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b i18n>Origen:</b> {{ line.origin }}, {{ line.originDepartment }}
            </li>
            <li class="list-group-item">
              <b i18n>Destino:</b> {{ line.destination }}, {{ line.destinationDepartment }}
            </li>
            <li class="list-group-item">
              <b i18n>Hora salida:</b> {{ line.startTime }} h
            </li>
            <li class="list-group-item">
              <b i18n>Hora llegada:</b> {{ line.endTime }} h
            </li>
            <li class="list-group-item">
              <b i18n>Ruta:</b> {{ line.route }}
            </li>
            <li class="list-group-item">
              <b i18n>Frecuencia:</b> {{ line.frequency }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title h3">
              <b i18n>Paradas</b>
            </h2>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" i18n>
                      Localidad
                    </th>
                    <th scope="col" i18n>
                      Hora
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stop of line.stops">
                    <td>
                      {{ stop.nameLocation }}, {{ stop.nameDepartment }}
                    </td>
                    <td>
                      {{ stop.time }} h
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
