<div class="bg-light h-100 py-4">
  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row w-100">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-1">
          Acerca del proyecto
        </h1>
      </div>
      <div class="col-md-8 offset-md-2 my-4 lead">
        <p>
          BusesUY es un buscador de lineas de ómnibus de larga distancia
          interdepartamentales e internacionales en Uruguay. La principal
          motivación para su creación fue poder mostrar, además de líneas que no
          necesariamente pasan por Montevideo, posibilidades de transbordo entre
          localidades que no tienen conexiones directas.
        </p>
        <p>
          Los datos son del Ministerio de Transporte y Obras Públicas,
          corresponden a la temporada de invierno 2019, y no incluyen lineas
          intradepartamentales ni del área metropolitana de Montevideo.
        </p>
        <p>
          La próxima etapa del proyecto será conseguir datos más completos y
          actualizados.
        </p>
        <p>
          Este
          <a href="https://github.com/ferares/busesuy-frontend" target="_blank">proyecto</a>
          está creado bajo una
          <a href="https://github.com/ferares/busesuy-frontend/blob/main/LICENSE" target="_blank">licencia de código abierto (GPL v2.0)</a>
          y no tiene fines comerciales ni lucrativos. Por consultas, sugerencias
          o colaboraciones dirigrse a nuestra
          <a [routerLink]="['/contacto']">página de contacto</a>
          .
        </p>
      </div>
    </div>
  </div>
</div>
