<div class="bg-light h-100 py-4">
  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="row w-100">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-1">
          Acerca del proyecto
        </h1>
      </div>
      <div class="col-md-8 offset-md-2 my-4 lead">
        <p>
          BusesUY es un buscador de líneas de ómnibus de larga distancia
          interdepartamentales e internacionales en Uruguay. La principal
          motivación para su creación fue poder mostrar, además de líneas que no
          necesariamente pasan por Montevideo, posibilidades de transbordo entre
          localidades que no tienen conexiones directas.
        </p>
        <p>
          Los
          <a class="link-dark" href="https://catalogodatos.gub.uy/dataset/ministerio-de-transporte-y-obras-publicas-horarios-interdepartamentales-omnibus" target="_blank" rel="noreferrer">
          datos</a> son del Ministerio de Transporte y Obras Públicas y no
          incluyen líneas intradepartamentales ni del área metropolitana de
          Montevideo.
        </p>
        <p>
          La próxima etapa del proyecto será conseguir datos más completos.
        </p>
        <p>
          Este
          <a class="link-dark" href="https://github.com/ferares/busesuy-frontend" target="_blank" rel="noreferrer">
          proyecto</a> está creado bajo una
          <a class="link-dark" href="https://github.com/ferares/busesuy-frontend/blob/main/LICENSE" target="_blank" rel="noreferrer">
          licencia de código abierto (GPL v2.0)</a> y no tiene fines
          comerciales ni lucrativos. Por consultas, sugerencias o colaboraciones
          dirigrse a nuestra
          <a class="link-dark" [routerLink]="['/contacto']">página de contacto</a>.
        </p>
      </div>
    </div>
  </div>
</div>
