<app-loader></app-loader>

<app-header [langs]="langs" [currentLang]="currentLang"></app-header>

<main id="main" tabindex="-1">
  <router-outlet></router-outlet>
</main>

<app-message *ngIf="updateAvailable" type="info">
  <div class="d-flex align-items-center justify-content-center">
    <span class="me-2" i18n>
      Nueva versión disponible
    </span>
    <button type="button" (click)="update()" class="btn btn-sm btn-info ms-2" i18n>
      Actualizar
    </button>
  </div>
</app-message>

<app-footer></app-footer>

<app-modal #modalLine (closeEvent)="modalClosed('line')">
  <app-line-data *ngIf="modalLineContent" [data]="modalLineContent">
  </app-line-data>
</app-modal>

<app-modal #modalCompany (closeEvent)="modalClosed('company')">
  <app-company-data *ngIf="modalCompanyContent" [data]="modalCompanyContent">
  </app-company-data>
</app-modal>
