@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  position: relative;
  z-index: 1;
}

.footer__content {
  align-items: center;
  display: flex;
}

.footer__link {
  color: inherit;
  display: inline-flex;
  text-decoration: none;
  line-height: 20px;
}

.footer__link__icon {
  margin-right: 7px;
}

@include media-breakpoint-down('md') {
  .footer__content {
    display: flex;
    flex-direction: column;
  }

  .footer__divider {
    display: none;
  }

  .footer__link {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
