<footer class="footer bg-dark text-light p-4">
  <div class="footer__content">
    <a class="footer__link" href="https://github.com/ferares/busesuy-frontend/blob/main/LICENSE" target="_blank">
      <img class="footer__link__icon" src="assets/imgs/code.svg" alt="">
      Licencia GPL v2.0
    </a>
    <span class="footer__divider mx-2">
      |
    </span>
    <a class="footer__link" href="https://github.com/ferares/busesuy-frontend" target="_blank">
      <img class="footer__link__icon" src="assets/imgs/github.svg" alt="">
      GitHub
    </a>
    <span class="footer__divider mx-2">
      |
    </span>
    <a class="footer__link" href="https://catalogodatos.gub.uy/dataset/ministerio-de-transporte-y-obras-publicas-horarios-interdepartamentales-omnibus" target="_blank">
      <img class="footer__link__icon" src="assets/imgs/database.svg" alt="">
      Base de datos
    </a>
    <span class="footer__divider mx-2">
      |
    </span>
    <a class="footer__link" href="mailto:fermin@ares.uy">
      <img class="footer__link__icon" src="assets/imgs/email.svg" alt="">
      fermin@ares.uy
    </a>
  </div>
</footer>
