<footer class="footer bg-dark text-light d-flex flex-column p-4 align-items-center justify-content-center">
  <div>
    <a class="footer-link" href="https://github.com/ferares/busesuy-frontend/blob/main/LICENSE" target="_blank">
      <img src="assets/imgs/code.svg" alt="">
      Licencia GPL v2.0
    </a>
    <span class="mx-2">
      |
    </span>
    <a class="footer-link" href="https://github.com/ferares/busesuy-frontend" target="_blank">
      <img src="assets/imgs/github.svg" alt="">
      GitHub
    </a>
    <span class="mx-2">
      |
    </span>
    <a class="footer-link" href="https://catalogodatos.gub.uy/dataset/ministerio-de-transporte-y-obras-publicas-horarios-interdepartamentales-omnibus" target="_blank">
      <img src="assets/imgs/database.svg" alt="">
      Base de datos
    </a>
    <span class="mx-2">
      |
    </span>
    Contacto:
    <a class="footer-link" href="mailto:fermin@ares.uy">
      fermin@ares.uy
    </a>
  </div>
</footer>
