<div class="card">
  <div class="card-body">
    
    <h2 class="card-title h5"><b i18n>Número de línea:</b> {{ data.line.name }}</h2>
    
    <h3 class="card-subtitle mb-2 text-muted h6">
      <b i18n>Empresa:</b>&nbsp;
      <button (click)="showCompanyInfoModal(data.line.company.name)">{{ data.line.company.name }}</button>
    </h3>
  </div>

  <ul>
    <li><strong i18n>Origen:</strong> {{ data.origin }}, {{ data.originDepartment }}</li>
    <li><strong i18n>Destino:</strong> {{ data.destination }}, {{ data.destinationDepartment }}</li>
    <li><strong i18n>Hora salida:</strong> {{ data.line.startTime }} h</li>
    <li><strong i18n>Hora llegada:</strong> {{ data.line.endTime }} h</li>
    <li><strong i18n>Ruta:</strong> {{ data.line.route }}</li>
    <li><strong i18n>Frecuencia:</strong> {{ data.line.frequency }}</li>
  </ul>
</div>


<div class="card">
  <div class="card-body">
    <h2 class="card-title h3" i18n>Paradas</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" i18n>
              Localidad
            </th>
            <th scope="col" i18n>
              Hora
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stop of data.line.stops">
            <td>
              {{ stop.nameLocation }}, {{ stop.nameDepartment }}
            </td>
            <td>
              {{ stop.time }} h
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
