<!--Guide Box-->
<div class="guides-box">
  <div class="content">

    <div class="header">
      <h2>BusesUy te ayuda a viajar por Uruguay</h2>
      <p>Ya sea lineas directas o transbordos en BusesUy te ayudamos a que puedas viajar sin preocupaciones</p>
    </div>

    <ul>

      <li>
        <figure><img src="/assets/imgs/step1.svg" alt=""></figure>
        <h4>Horarios y Paradas</h4>
        <p>BusesUy te ofrece un listado con todas los horarios y paradas del viaje que quieras</p>
      </li>

      <li>
        <figure><img src="/assets/imgs/step2.svg" alt=""></figure>
        <h4>Lineas y Transbordos</h4>
        <p>Ya sean lineas directas o conexiones, nuestra plataforma te ayudará a que llegues a destino</p>
      </li>

      <li>
        <figure><img src="/assets/imgs/step3.svg" alt=""></figure>
        <h4>Interdepartamentales</h4>
        <p>Desde Montevideo hasta Artigas, con BusesUy podrás recorrer todo el país</p>
      </li>

    </ul>
  </div>
</div>
<!--Guide Box-->

<footer class="main-footer">
  <div class="content">

    <figure class="logo">
      <img src="/assets/imgs/logo-busesuy-white.svg" />
    </figure>

    <ul class="columns">

      <li class="first-column">
        <ul>
          <li><a routerLinkActive="active" [routerLink]="['/proyecto']" i18n>Acerca de proyecto</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/datos']" i18n>Datos</a></li>
          <li><a routerLinkActive="active" i18n>Empresas</a></li>
          <li><a routerLinkActive="active" [routerLink]="['/contacto']" i18n>Contacto</a></li>
        </ul>
      </li>

      <li class="third-column">
        <ul>
          <li><a href="https://github.com/ferares/busesuy-frontend" target="_blank" rel="noreferrer"><i class="fa-brands fa-github"></i> GitHub</a></li>
          <li><a href="mailto:busesuy@buses.uy" target="_blank" rel="noreferrer"><i class="fa-solid fa-envelope"></i> busesuy@buses.uy</a></li>
        </ul>
      </li>

    </ul>

  </div>
</footer>

<div class="post-footer">
  <div class="content">
    <p>BusesUY 2022</p>
  </div>
</div>


