.skip-to-content {
  position: absolute;
  transform: translateY(-120%);
  transition: transform .5s ease-in-out;
  z-index: 10;

  &:focus {
    transform: translateY(0);
  }
}

.header__lang {
  .dropdown-toggle {
    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    transform: translateY(1rem) !important;
  }
}
