<div class="button-group" (focusout)="handleFocusOut()" (focusin)="handleFocusIn()" (keydown)="handleKeyDown($event)">
  <button type="button" class="day" aria-controls="dropdown-dates" (click)="open()">{{ getSelectedDaysString() }}</button>
  <ul id="dropdown-dates" class="dropdown-menu" role="listbox" aria-multiselectable="true" aria-label="Días" i18n-aria-label [ngClass]="{ 'show': show }" tabindex="-1">
    <li *ngFor="let day of days;let i = index" [ngClass]="{ 'active': selectedDays.includes(day.value) }" role="menuitem">
      <button #dayBtns type="button" role="option" [attr.aria-selected]="selectedDays.includes(day.value)" (click)="toggleDay(day.value)">
        {{ day.label }}
      </button>
    </li>
  </ul>
</div>
