<header class="main-header">
  <div class="content">

    <nav class="main-nav">

      <!--Logo-->
      <a [routerLink]="['/']" i18n>
        <figure>
          <img src="/assets/imgs/temp-logo.svg" />
        </figure>
      </a>

      <!--Menu-->
      <ul>
        <li><a routerLinkActive="active" [routerLink]="['/proyecto']" i18n>Acerca de</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/datos']" i18n>Datos</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/contacto']" i18n>Contacto</a></li>
      </ul>

    </nav>

    <div class="right-options">

      <!--Share Button-->
      <button type="button" (click)="share()" class="share-button">
        <i class="fa-solid fa-share-nodes"></i>
      </button>

      <!--Language Select Dropdown-->
      <button id="button-lang" type="button" aria-controls="dropdown-lang" i18n-title title="Seleccionar idioma" class="language-button" (click)="dropdown.toggle()">
        <img class="img-fluid" src="{{currentLang['flag']}}" i18n-alt alt="Idioma actual {{currentLang['label']}}">
      </button>
      <app-dropdown #dropdown>
        <ul id="dropdown-lang" role="menu" aria-labelledby="button-lang">
          <li *ngFor="let lang of langs" role="menuitem">
            <a href="{{lang.url}}{{currentUrl}}" (click)="dropdown.close()"><img class="img-fluid me-1" src="{{lang.flag}}" alt="">{{lang.label}}</a>
          </li>
        </ul>
      </app-dropdown>
    </div>

  </div>
</header>


<app-alert *ngIf="linkCopied" type="info" i18n>
  Enlace copiado al portapapeles.
</app-alert>
