/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/bootstrap';
@import 'styles/accordion-group';

body {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

router-outlet + * {
  height: 100%;
  width: 100%;
}
