
<div class="row">
  <div class="col-12">
    <h1 class="display-1 mb-4">
      BusesUY
    </h1>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="row g-3">
          <div class="col-4">
            <label for="origin" class="form-label">
              Origen
            </label>
            <input type="text" class="form-control text-capitalize" id="origin" [typeahead]="locations" [(ngModel)]="origin" name="origin" autocomplete="off">
          </div>
          <div class="col-4">
            <label for="destination" class="form-label">
              Destino
            </label>
            <input type="text" class="form-control text-capitalize" id="destination" [typeahead]="locations" [(ngModel)]="destination" name="destination" autocomplete="off">
          </div>
          <div class="col-4">
            <label for="date" class="form-label">
              Fecha
            </label>
            <input type="text" class="form-control" id="date" name="date" autocomplete="off" [(ngModel)]="date" [bsConfig]="{ containerClass: 'theme-blue' }" bsDatepicker>
          </div>
          <div class="col-4 offset-4">
            <button class="btn btn-primary w-100" type="submit" (click)="search()">
              Buscar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="results" class="col-12 mt-4">
    <div class="card">
      <div class="card-body">
        <p *ngIf="!results.length" class="lead">
          No hay resultados
        </p>
        <table *ngIf="results.length" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">
                Empresa
              </th>
              <th scope="col">
                Origen
              </th>
              <th scope="col">
                Destino
              </th>
              <th scope="col">
                Duración
              </th>
              <th scope="col">
                Línea
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of results">
              <td class="text-capitalize">
                {{ result.line.company }}
              </td>
              <td class="text-capitalize">
                {{ origin }}
                {{ result.originStop.time }}
              </td>
              <td class="text-capitalize">
                {{ destination }}
                {{ result.destinationStop.time }}
              </td>
              <td>
                {{ result.duration }}
              </td>
              <td>
                {{ result.line.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
