@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../../../../styles/variables';

.container {
  max-width: 1000px;
}

.page-home {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin-bottom: 4rem;
  position: relative;

  &:before {
    background-color: transparentize($color-black, .7);
    content: '';
    display: block;
    inset: 0;
    position: absolute;
  }
}

.page-home__bg-data-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.home__form {
  @include media-breakpoint-up('sm') {
    &.was-validated {
      &:invalid {
        .home__form__swap-btn {
          margin-bottom: 1.55rem;
        }


        @include media-breakpoint-up('md') {
          .form-select {
            margin-bottom: 1.55rem;
          }
        }

        .form-control {
          &:valid {
            margin-bottom: 1.55rem;
          }
        }

        .home__form__location-options {
          margin-top: -1.55rem;
        }
      }
    }
  }
}

.home__form__top {
  align-items: flex-end;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50px minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 15px;
  justify-content: center;

  @include media-breakpoint-down('md') {
    grid-template-columns: 1fr 50px 1fr;

    .home__form__block {
      &:last-child {
        grid-column: 1/4;
      }
    }
  }

  @include media-breakpoint-down('sm') {
    grid-template-columns: 1fr;

    .home__form__swap-btn {
      img {
        transform: rotate(90deg);
      }
    }

    .home__form__block {
      &:last-child {
        grid-column: 1;
      }
    }
  }
}

.home__form__location-options {
  max-height: 9rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.form-select {
  @include media-breakpoint-down('md') {
    white-space: normal;
  }
}

.results-indirect__accordion-heading {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.results-indirect__accordion-heading--scale {
    display: grid;
    grid-template-columns: repeat(2, 1fr 20px);

    .results-indirect__accordion-heading__arrow {
      transform: none;
    }

    @include media-breakpoint-down('md') {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      .results-indirect__accordion-heading__arrow {
        margin: 0 auto;
        transform: rotate(90deg);
      }
    }
  }

  .results-indirect__accordion-heading__arrow {
    margin: 0 auto;
    transform: rotate(90deg);
  }

  @include media-breakpoint-down('md') {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
  }
}

.results-indirect__title {
  text-align: center;

  .results-indirect__accordion-heading__arrow {
    margin: 0 .5rem;
  }

  @include media-breakpoint-down('sm') {
    align-items: center;
    display: flex;
    flex-direction: column;

    .results-indirect__accordion-heading__arrow {
      margin: .5rem 0;
      transform: rotate(90deg);
    }
  }
}
