<section class="home-content">

    <!--Start Hero-->
    <div class="hero">

      <div class="hero-bg" style="background-image:url('{{background?.picture}}')"></div>

      <div class="content">

        <!--Background Info-->
        <ng-container *ngIf="background">
          <app-popover #backgroundPopover>
            <h4 class="popover-title">Datos de la foto</h4>
            <ul class="list-unstyled">
              <li>
                <i class="fa-solid fa-circle-user"></i>
                <a *ngIf="background.user.link" href="{{background.user.link}}" target="_blank" rel="noreferrer">{{background.user.name}}</a>
                <span *ngIf="!background.user.link">{{background.user.name}}</span>
              </li>
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <span class="ms-1">{{background.location}}</span>
              </li>
            </ul>
            <a class="btn" href="{{background.picture}}" target="_blank" (click)="backgroundPopover.close()" i18n>Ver foto</a>
            <button class="btn" type="button" (click)="backgroundsModal.open();backgroundPopover.close()" i18n>Compartí tus fotos</button>
          </app-popover>

          <button type="button" class="camera-button" (click)="backgroundPopover.open()">
            <i class="fa-solid fa-camera"></i>
          </button>

        </ng-container>

        <!--Search Form-->
        <div class="search-form">
          <h1 class="title-icon" i18n>
            <i class="fa-solid fa-bus"></i>Buscador de líneas de ómnibus en Uruguay
          </h1>

          <form class="row g-3 home__form" [ngClass]="{ 'was-validated': validated }" novalidate (submit)="search()">

            <!--Origin-->
            <div class="origin-box">
              <label for="origin" i18n>Origen</label>
              <app-location-input input-id="origin" name="origin" [options]="locations" [(ngModel)]="origin" placeholder="Montevideo, Montevideo">
              </app-location-input>
            </div>

            <!--Switch Origin and Destiny-->
            <button type="button" (click)="swapLocations()" class="swap-locations">
              <i class="fa-solid fa-arrow-right-arrow-left"></i>
            </button>

            <!--Destiny-->
            <div class="destiny-box">
              <label for="destination" i18n>Destino</label>
              <app-location-input input-id="destination" name="destination" [options]="locations" [(ngModel)]="destination" placeholder="Bella Unión, Artigas">
              </app-location-input>
            </div>

            <!--Day-->
            <div class="day-box">
              <label for="date" class="form-label" i18n>Día</label>
              <app-day-input name="date" [(ngModel)]="selectedDays">
              </app-day-input>
            </div>

            <!--Search Button-->
            <button type="submit" class="search-button" i18n>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

          </form>
        </div>

      </div>

    </div>
    <!--End Hero-->

    <!--Start Results Wrapper-->
    <div class="search-results-wrapper">
      <div class="content">

        <!--Search Results-->
        <div #resultsElement>

          <div *ngIf="results && results.length" class="lines-results">
              <h2 i18n>Líneas</h2>
              <app-results-table [results]="results"></app-results-table>
          </div>

          <div *ngIf="!results || !results.length" class="transboard-results">

            <div *ngIf="indirectResults">
              <div class="card shadow">
                <div class="card-body">

                  <h2 i18n>Transbordos</h2>

                  <div class="no-results" *ngIf="!indirectResults || !indirectResults.length" i18n>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>No hay resultados</p>
                  </div>

                  <ng-container *ngIf="indirectResults && indirectResults.length">
                    <app-accordion *ngFor="let result of indirectResults">

                      <button type="button" class="path-card" accordion-heading>

                          <div class="pather">
                            <ng-container *ngFor="let scale of result; let last = last">
                              <span class="path-dot"><app-location-name [location]="scale.origin"></app-location-name></span>
                              <span *ngIf="last" class="path-dot"><app-location-name [location]="scale.destination"></app-location-name></span>
                            </ng-container>
                          </div>

                          <i class="fa-solid fa-angle-down collapse-arrow"></i>
                      </button>

                      <app-accordion *ngFor="let scale of result">

                        <button type="button" class="path-card expanded-card" accordion-heading>
                          <div class="pather">
                            <span class="path-dot"><app-location-name [location]="scale.origin"></app-location-name></span>
                            <span class="path-dot"><app-location-name [location]="scale.destination"></app-location-name></span>
                          </div>

                          <i class="fa-solid fa-angle-down collapse-arrow"></i>
                        </button>

                        <app-results-table [results]="scale.connections"></app-results-table>
                      </app-accordion>

                    </app-accordion>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
    <!--End Results Wrapper-->

    <app-modal #backgroundsModal>
      <app-backgrounds>
      </app-backgrounds>
    </app-modal>

</section>
